
.customTime {
    margin-top:30px;
}
.customTime__title {
    font-family:Jost, sans-serif;
    font-weight: 500;
    font-size: 30px;

    color:rgb(73, 73, 73);

    text-align:center;
}
.customTime__comment {
    font-family:Jost, sans-serif;
    font-weight: 500;
    font-size: 16px;

    color:rgb(255, 0, 0);

    text-align:center;
}

.customTime__dateFile{
    font-family:Jost, sans-serif;
    font-weight: 500;
    font-size: 16px;

    color:rgb(0, 0, 0);

    text-align:center;
}

.customTime__field {
    margin-top:20px;

    text-align: center;
}

.customTime__input{
    padding:10px;

    width:200px;
    height:50px;

    font-family:Jost, sans-serif;
    font-weight: 500;

    background-color: #66c9d0;

    border-radius: 20px;
    border: #009494 solid 2px;

    caret-color: rgb(16, 110, 110);
}

.customTime__svg{
    vertical-align:top;
}

.customTime__input:focus{
    border: #04789b solid 2px;
}

.customTime__wrapperButton{
    margin-top:20px;

    display:flex;
    justify-content: center;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    font-family:Jost, sans-serif;
    font-weight: 500;
    border: none;
    outline: none;
    color: #ff9900;
    background: #000000;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 20px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 20px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 20px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

